#### Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program
to print the company name of a given email address. Both user names and company names are composed of letters
only.
Input Format:
The first line of the input contains an email address.
Output Format:
Print the company name in single line.
Example;
Input:
john@google.com
Output:
google

In [1]:
def domain(email):
    a = email.partition('@')
    txt = a[2].partition('.')
    print(txt[0])
    
domain('john@google.com')

google

#### Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma
separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [2]:
items = input("Input comma separated sequence of words: ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(words))))

Input comma separated sequence of words: without,hello,bag,world
bag,hello,without,world

#### Question 3:
Create your own Jupyter Notebook for Sets.
Reference link: https://www.w3schools.com/python/python_sets.asp

In [3]:
set = {'x', 'y', 'z'}
print(set)

{'z', 'x', 'y'}

#### Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:1 2 4 6 3 7 8
Output:5
Explanation:
In the above list of numbers 5 is missing and hence 5 is the input

In [4]:
n = int(input())
l = list(map(int, input().split(' '))) 
l1 = range(1,n+1)
for i in l1:
    if i not in l:
        print(i)

8
1 2 4 6 3 7 8
5

#### Question 5:
With a given list L, write a program to print this list L after removing all duplicate values with original order reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input: 12 24 35 24
Output:
12 24 35

In [5]:
n = int(input("Enter total numbers in the list: "))
l = list(map(int, input().split(' ')))
l1 = []
for i in l:
    if i not in l1:
        l1.append(i)
print(*l1, end = ' ')

Enter total numbers in the list: 10
12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155